# Ignore zip files
*.zip

# Ignore keras/tensorflow model files
*.keras
*.h5

# Ignore datasets and sample images
Sample-images/
Retina/
project1/
project2/

# Ignore compiled / cache files
__pycache__/
*.pyc
*.pyo

# Ignore OS / editor files
.DS_Store
Thumbs.db
